*.pyc
*legacy*
.#*
*.so
build/*
dist/*
*.egg-info
.DS_Store
.cache/*
.cache
*latest*
exptool/io/psp_io_frozen.py
exptool/io/combined.py
exptool/basis/noise_theory.py
exptool/basis/visualise.py
docs/figures/*
docs/tutorials/.ipynb_checkpoints
